@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !!</h1>

        <p>Welcome to your Radio Kit!</p>

        
    </Authorized>
    <Authorizing>
        <h1>Hang in there good buddy, we are just getting things ready ...</h1>
    </Authorizing>
</AuthorizeView>